.menu-bubble {

  position: absolute;
  top: 17.2%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;

  .bubble-shape {
    margin: 0 auto;
    display: block;
    height: clamp(19rem, 0.077rem + 47.308vw, 26.688rem);
  }

  .menu-bar {
    height: 60%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    li {
      width: 100%;
      list-style: none;
      font-size: clamp(1.188rem, 0.919rem + 0.811vw, 1.375rem);
      text-align: center;
      cursor: pointer;
      color: #042639;

      &:hover {
        color: #F8F5EC;
      }
    }

    .languages {
      width: fit-content;

      button {
        font-size: clamp(1.188rem, 0.919rem + 0.811vw, 1.375rem);
        background-color: transparent;
        border: none;
      }
    }
  }
}


.menu-bar li.active {
  position: relative;
}

.menu-bar li.active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  width: 6px;
  height: 6px;
  background: currentColor;
  border-radius: 50%;
}


.desktop-content {
  display: none;
}

.languages {
  display: flex;
  gap: 14px;
}

span {
  cursor: pointer;
}

.languages span {
  width: 39px;
  height: 25px;
  display: flex;
  align-items: center;
}

.lang-de {
  .german {
    background-image: url(./../../../assets/img/Ellipse_languages.svg);
    background-repeat: no-repeat;
    color: #F8F5EC;
  }

  .german:hover {
    color: #F8F5EC !important;
  }

  .english {
    background-image: none;
    color: #042639;
  }

  .english:hover {
    color: #F8F5EC;
  }

  &:hover {
    .german {
      background-image: none;
      color: #042639;
    }
  }
}

.lang-en {
  .german {
    background-image: none;
    color: #042639;
  }

  .english {
    background-image: url(./../../../assets/img/Ellipse_languages.svg);
    background-repeat: no-repeat;
    color: #F8F5EC;
  }

  .german:hover {
    color: #F8F5EC;
  }
}

@media (min-width: 900px) {
  .desktop-content {
    height: 104px;
    padding: 0 clamp(2.125rem, -32.458rem + 55.333vw, 12.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f28a62;

    .menu-bar {
      display: flex;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: clamp(1.25rem, 0.625rem + 1.111vw, 1.625rem);
      padding-left: clamp(3.75rem, 0.625rem + 5.556vw, 5.625rem);

      li {
        list-style-type: none;
        cursor: pointer;
        color: #042639;

        &:hover {
          color: #F8F5EC;
        }
      }

      .languages {
        list-style-type: none;

        button {
          font-size: clamp(1.188rem, 0.919rem + 0.811vw, 1.375rem);
          background-color: transparent;
          border: none;
        }
      }
    }
  }
}

.d-none {
  display: none;
}