@if (contact$ | async; as contact) {
<section id="contactMe">
  <!-- <button
  type="button"
  class="arrow-up"
  (click)="scrollToTop()"
  aria-label="Nach oben scrollen"
>
  <img
    class="arrow-up-img"
    [src]="
      hover
        ? 'assets/img/Arrow_up_hover.svg'
        : 'assets/img/Arrow_up.svg'
    "
    alt=""
  />
</button> -->
  <div class="content">
    <h2>{{ contact.headline }}</h2>
    <div class="contact">
      <div class="contact-data">
        <div class="contact-option margin-left-right">
          <img src="assets/img/icon _phone_.svg" />
          <div>{{ contact.phone }}</div>
        </div>
        <div class="contact-option margin-left-right margin-bottom-32">
          <img src="assets/img/icon _email_.svg" />
          <div>{{ contact.mail }}</div>
        </div>
      </div>
      <div class="contact-box margin-bottom-32">
        <span>{{ contact.text }}</span>
      </div>
    </div>
    <div class="work-together margin-bottom-32">
      <span>{{ contact.cooperation }}</span>
    </div>
    <form>
      <div class="inputs">
        <input
          class="field"
          [placeholder]="(contact$ | async)?.phName ?? contact.phName"
          type="text"
          required
        />
        <input
          class="field"
          [placeholder]="(contact$ | async)?.phMail ?? contact.phMail"
          type="email"
          required
        />
      </div>
      <textarea
        class="field"
        [placeholder]="(contact$ | async)?.phMessage ?? contact.phMessage"
        required
      ></textarea>
    </form>
    <div class="privacy-box">
      <img src="assets/img/Checkbox.svg" />
      <span
        >{{ contact.have
        }}<a routerLink="/privacyPolicy" [ngStyle]="{ color: '#F28A62' }">{{
          contact.prPolicy
        }}</a
        >{{ contact.read }}</span
      >
    </div>
    <div class="send-btn">
      <img src="assets/img/Btn_Send_Error.svg" />
    </div>
    <button
      type="button"
      class="arrow-top cursor-pointer"
      (click)="scrollToTop()"
      aria-label="Nach oben scrollen"
    >
      <img class="arrow-up-img" [src]="'assets/img/Arrow_up.svg'" alt="" />
    </button>
  </div>
</section>
}