
<section id="contactMe" class="margin-left-right-24" *ngIf="contact$ | async as contact">
    <h2>{{ contact.headline }}</h2>
    <div class="contact-option margin-left-right">
        <img src="assets/img/icon _phone_.svg">
        <div>{{ contact.phone }}</div>
    </div>
    <div class="contact-option margin-left-right margin-bottom-32">
        <img src="assets/img/icon _email_.svg">
        <div>{{contact.mail}}</div>
    </div>
    <div class="contact-box margin-bottom-32">
        <span>{{ contact.text }}</span>
    </div>
    <div class="work-together margin-bottom-32">
        <span>{{ contact.cooperation }}</span>
    </div>
    <form>
        <input class="field" [placeholder]="(contact$ | async)?.phName ?? contact.phName" type="text" required>
        <input class="field" [placeholder]="(contact$ | async)?.phMail ?? contact.phMail" type="email" required>
        <textarea class="field" [placeholder]="(contact$ | async)?.phMessage ?? contact.phMessage" required></textarea>
    </form>
    <div class="privacy-box">
        <img src="assets/img/Checkbox.svg">
        <span>{{ contact.have }}<a href="privacyPolicy" [ngStyle]="{color: '#F28A62'}">{{ contact.prPolicy }}</a>{{ contact.read
            }}</span>
    </div>
    <div class="send-btn">
        <img src="assets/img/Btn_Send_Error.svg">
    </div>
    <button class="arrow-up">
        <img class="arrow-up-img" (click)="scrollToTop()" (mouseover)="hover = true" (mouseout)="hover = false"
            [src]="hover ? 'assets/img/Arrow_up_hover.svg' : 'assets/img/Arrow_up.svg'">
    </button>
</section>
