.contact-option {
    display: flex;
    align-items: center;
    gap: 14px;
}

.contact-box {
    gap: 32px;
}

.work-together {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #F28A62;
    margin-top: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.field:focus::placeholder {
    color: transparent;
}

input {
    background-color: #042639;
    text-align: start;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #F28A62;
    font-family: 'Josefin Sans';
    padding-left: 26px;
    color: #F8F5EC;
}

textarea {
    background-color: #042639;
    text-align: start;
    resize: none;
    height: 200px;
    border-radius: 30px;
    border: solid 1px #F28A62;
    font-family: 'Josefin Sans';
    padding: 29px 0 0 26px;
    color: #F8F5EC;
}

input::placeholder,
textarea::placeholder {
    opacity: 40%;
    font-size: 16px;
}

.privacy-box {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 5px;
}

.send-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.send-btn img {
    cursor: not-allowed;
}

.arrow-up {
    display: flex;
    justify-content: center;
    margin: 76px 0 104px 0;

    .arrow-up-img:hover {
        cursor: pointer;
    }
}