<section id="contactMe" class="margin-left-right-24">
    <h2>Kontaktieren Sie mich</h2>
    <div class="contact-option margin-left-right">
        <img src="assets/img/icon _phone_.svg">
        <div>Tel.: 0162 465 8668</div>
    </div>
    <div class="contact-option margin-left-right margin-bottom-32">
        <img src="assets/img/icon _email_.svg">
        <div>E-Mail: coleni82{{ '@' }}gmail.com</div>
    </div>
    <div class="contact-box margin-bottom-32">
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis fugit eum cumque quia animi, odit eveniet
            repellendus ipsum enim numquam in iste veniam libero id aliquid. Dolor harum autem deleniti.</span>
    </div>
    <div class="work-together margin-bottom-32">
        <span>Lassen Sie uns zusammenarbeiten!</span>
    </div>
    <form action="">
        <input placeholder="Vorname Name" type="text">
        <input placeholder="Email" type="email">
        <textarea placeholder="Nachricht" name="" id=""></textarea>
    </form>
    <div class="privacy-box">
        <img src="assets/img/Checkbox.svg">
        <span>Ich habe die <span [ngStyle]="{color: '#F28A62'}">Datenschutzerklärung</span> gelesen und stimme der
            Verarbeitungmeiner Datenwie beschrieben zu.</span>
    </div>
    <div class="send-btn">
        <img src="assets/img/Btn_Send.svg">
    </div>
    
    <!-- <div class="arrow-up">
        <img src="assets/img/Arrow_up.svg">
    </div> -->

    <div class="arrow-up">
  <img class="arrow-up-img" (mouseover)="hover = true" (mouseout)="hover = false"
       [src]="hover ? 'assets/img/Arrow_up_hover.svg' : 'assets/img/Arrow_up.svg'">
</div>
</section>