.content {
    margin-left: clamp(1.5rem, -6.213rem + 24.681vw, 16rem);
    margin-right: clamp(1.5rem, -6.213rem + 24.681vw, 16rem);
}

.arrow-top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 76px 0 104px 0;
    background-color: unset;
    border: unset;

    .arrow-top-img:hover {
        cursor: pointer;
    }
}

.arrow-top:hover img,
.arrow-top:focus-visible img {
    content: url('../../../assets/img/Arrow_up_hover.svg');
}

.contact-option {
    display: flex;
    align-items: center;
    gap: 14px;
}

.contact-box {
    gap: 32px;
}

.work-together {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: #F28A62;
    margin-top: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.field:focus::placeholder {
    color: transparent;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.required {
    position: absolute;
    color: #F28A62;
}

.name {
    margin-top: 63px;
    margin-left: 24px;
}

.email {
    margin-top: 147px;
    margin-left: 24px;
}

.message {
    margin-top: 370px;
    margin-left: 24px;
}

input {
    background-color: #042639;
    text-align: start;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #F28A62;
    font-family: 'Josefin Sans';
    padding-left: 26px;
    color: #F8F5EC;
}

textarea {
    background-color: #042639;
    text-align: start;
    resize: none;
    height: 200px;
    border-radius: 30px;
    border: solid 1px #F28A62;
    font-family: 'Josefin Sans';
    padding: 29px 0 0 26px;
    color: #F8F5EC;
}

input::placeholder,
textarea::placeholder {
    opacity: 40%;
    font-size: 16px;
}

.privacy-box {
    display: flex;
    align-items: center;
    // margin-top: 16px;
    gap: 5px;
}

.checkbox {
    background-color: unset;
    border: unset;
}

.send-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    background-color: unset;
    border: unset;
}

.send-btn img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.arrow-up {
    display: none;
}

.success {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 38, 57, 0.95);
    color: #F28A62;

    opacity: 1;
    transition: opacity 600ms ease-out, transform 300ms ease-out;
}

.success.hide {
    opacity: 0;
    pointer-events: none;
}

@media (min-width: 900px) {
    section {
        position: relative;
    }

    .arrow-top {
        position: absolute;
        top: 0;
        right: clamp(5rem, -5rem + 16vw, 7rem);
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: unset;
        border: unset;
        margin: unset;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px;
    }

    .contact-data {
        order: 2;
    }

    .contact-box {
        margin-bottom: unset;
    }

    .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 21px;
    }

    .name {
        margin-top: 63px;
        margin-left: 24px;
    }

    .email {
        margin-top: 63px;
        margin-left: clamp(22.5rem, -3.542rem + 46.296vi, 38.125rem);
    }

    .message {
        margin-top: 288px;
        margin-left: 24px;
    }

    form textarea.field {
        grid-column: 1 / -1;
    }

    .send-btn {
        margin-bottom: 180px;
    }
}