@if (header$ | async; as header) {
<section>
    <div class="content">
       <img src="assets/img/Logo_Footer.svg">
       <div class="menu-bar">
        <span (click)="headerService.scrollToWithFragment('whyMe', $event)">{{ header.whyMe }}</span>
        <span (click)="headerService.scrollToWithFragment('skills', $event)">{{ header.skills }}</span>
        <span (click)="headerService.scrollToWithFragment('projects', $event)">{{ header.projects }}</span>
        <span (click)="headerService.scrollToWithFragment('contactMe', $event)">{{ header.contact }}</span>
       </div>
       <div class="languages" [ngClass]="headerService.getLangClasses()">
        <span class="german" (click)="headerService.setLang('de')">DE</span>
        <span class="english" (click)="headerService.setLang('en')">EN</span>
       </div>
    </div>
</section>
}