
:host {
    width: 100%;
}

section {
    background-color: #F28A62;
    height: 104px;
    display: flex;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(1.25rem, 0.625rem + 1.111vw, 1.625rem);
    box-sizing: border-box;
    padding-left: clamp(3.75rem, 0.625rem + 5.556vw, 5.625rem);
    padding-right: clamp(3.75rem, 0.625rem + 5.556vw, 5.625rem);
}

.menu-bar {
    display: contents;
}

.languages {
    display: flex;
    gap: 14px;
}

span {
    cursor: pointer;
}

.languages span {
    width: 39px;
    height: 25px;
    display: flex;
    align-items: center;
}

.lang-de {
    .german {
        background-image: url(./../../../assets/img/Ellipse_languages.svg);
        background-repeat: no-repeat;
        color: #F8F5EC;
    }

    .english {
        background-image: none;
        color: black;
    }
}

.lang-en {
    .german {
        background-image: none;
        color: black;
    }

    .english {
        background-image: url(./../../../assets/img/Ellipse_languages.svg);
        background-repeat: no-repeat;
        color: #F8F5EC;
    }
}

@media(max-width: 900px) {
    section {
        display: none;
    }
}