
header {
  padding: 1em;
}

.logo-box {
  display: flex;
  margin: 27px 18px 0 7px;
  justify-content: space-between;
}

.logo {
  width: 58px;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 1px;

  .logo-pic {
    width: 58px;
    height: 38px;
  }

  .name-small {
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 120%;
  }

  .profession-small {
    font-family: "Josefin Sans";
    font-size: 12px;
    color: #f28a62;
    text-align: center;
    line-height: 120%;
  }
}

.hamburger-menu {
  height: 32px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  cursor: pointer;

  .line {
    width: 30px;
    height: 0px;
    border: solid 1px #f8f5ec;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.5s ease;
  }

  &.open {
    .line:nth-child(1) {
      transform: translateY(16px) rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      transform: translateY(-16px) rotate(-45deg);
    }
  }
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 23px;
  position: absolute;
  z-index: 1;

  .menu-box-pic {
    width: 300px;
  }

  .menu-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 28px;
    list-style-type: none;
    padding: unset;
    margin-top: 40px;
  }

  a {
    color: #f8f5ec;
    text-decoration: none;
    font-size: 22px;
    color: black;

    &:hover {
      color: #f8f5ec;
      cursor: pointer;
    }
  }
}

.languages {
  width: 93px;
  height: 32px;
  display: flex;
  gap: 14px;
  font-size: 18px;

  .german,
  .english {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .german:hover,
  .english:hover {
    cursor: pointer;
  }

  &.lang-de {
    .german {
      background-image: url(./../../../assets/img/Ellipse_languages.svg);
      background-repeat: no-repeat;
      color: #f8f5ec;
    }

    .english {
      background-image: none;
      color: black;
    }
  }

  &.lang-en {
    .german {
      background-image: none;
      color: black;
    }

    .english {
      background-image: url(./../../../assets/img/Ellipse_languages.svg);
      background-repeat: no-repeat;
      color: #f8f5ec;
    }
  }
}

.d-none {
  display: none;
}

@media (min-width: 900px) {
  header {
    display: none;
  }
}
