<section>
    <h3>Pit Penguin</h3>
    <div class="technologies">
        <span>Technologie: HTML, CSS, JavaScript</span>
        <span>Dauer: 3 Wochen</span>
    </div>
    <div class="project-img">
        <img src="assets/img/PitPenguin.png">
    </div>
    <div class="margin-bottom-32">
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <span class="headline">
                Über das Projekt
            </span>
        </div>
        <div class="description">
            <span>
                Diese ist ein Jump-and-Run-Spiel, das nicht nur Kinderherzen glücklich macht. <br>
                Es geht darum alle Fisch-Münzen einzusammeln, den kleinen Schneehasen auszuweichen oder sie durch
                Sprünge unschädlich zu machen und genügend Giftflaschen dabei zu haben, um den Endgegner zu besiegen.
            </span>
        </div>
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <span class="headline">
                Wie ich meine Arbeit organisiert habe
            </span>
        </div>
        <div class="description">
            <span>
                Das Spiel wurde mit OOP organisiert: klare Klassen wie Spieler und Gegner, damit sich die Logik sauber
                trennt. <br>
                Kollisionen und Sprünge wurden eindeutig definiert, damit der Jump’n’Run-Charakter zuverlässig
                auf Untergrund reagiert und Gegner korrekt getroffen werden. <br>
                Neben der Logik wurde auch die Grafik sorgfältig gestaltet, damit das Spiel optisch ansprechend aussieht
                und die Bewegungen flüssig wirken.
            </span>
        </div>
    </div>
    <div class="live-test">
        <img src="assets/img/Btn_LifeTest.svg">
        <img src="assets/img/Btn_GitHub.svg">
    </div>
</section>