section {
    width: 85vw;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 23px;

    .elipse {
        width: 311.17px;
        height: 326px;
        top: 43px;
        left: 38.91px;
        box-sizing: border-box;
        padding: 0 12px;
        max-width: 100%;
    }

    .bw-pic {
        // position: absolute;
        width: 255px;
        height: auto;

    }
}

.name {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8px;
    // gap: 8px;
    color: #F8F5EC;

    .fullname {
        font-family: 'Anta';
        font-size: 37px;
        height: 48px;
    }

    .profession {
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Josefin Sans';
    }
}

.arrow-down {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    position: relative;
    background-color: unset;
    border: unset;

    .arrow-down-img:hover {
        cursor: pointer;
    }

}

.d-none {
    display: none;
}