<section id="aboutMe">
    <div class="logo-box">
        <div class="logo">
            <img class="logo-pic" src="assets/img/Logo.svg">
            <span class="name-small">N.Gerlach</span>
            <span class="profession-small">developer</span>
        </div>
        <div class="hamburger-menu" (click)="toggleMenu()" [class.open]="menuOpen">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="menu-container">
        <div class="menu-box" [class.d-none]="!menuOpen">
            <img class="menu-box-pic" src="assets/img/Ellipse_menu.svg">
            <ul class="menu-list">
                <li><a href="#whyMe" (click)="closeMenu()" [class.fontColor]="!fontColorBlack">Warum ich</a></li>
                <li><a href="#skills" (click)="closeMenu()" [class.fontColor]="fontColorBlack">Skills</a></li>
                <li><a href="#projects" (click)="closeMenu()" [class.fontColor]="fontColorBlack">Projekte</a></li>
                <li><a href="#contactMe" (click)="closeMenu()" [class.fontColor]="fontColorBlack">Kontakt</a></li>
                <div class="languages">
                    <span class="german" (click)="closeMenu()" [class.fontColor]="!fontColorBlack">DE</span>
                    <span class="english" (click)="closeMenu()" [class.fontColor]="fontColorBlack">EN</span>
                </div>
            </ul>
        </div>
    </div>

    <div class="pic">
        <img class="elipse" src="assets/img/Ellipse.svg">
        <img class="bw-pic" src="assets/img/BW_pic.png">
    </div>
    <div class="name">
        <span class="fullname">Nicole Gerlach</span>
        <span class="profession">Frontend Developer</span>
    </div>

    <!-- <div class="arrow-down">
        <img class="arrow-down-img" src="assets/img/Arrow_down.svg">
        <img class="arrow-down-hover-img" src="assets/img/Arrow_down_hover.svg">
    </div> -->

    <div class="arrow-down">
        <img class="arrow-down-img" (mouseover)="hover = true" (mouseout)="hover = false"
            [src]="hover ? 'assets/img/Arrow_down_hover.svg' : 'assets/img/Arrow_down.svg'">
    </div>
</section>