
section {
  display: flex;
  justify-content: center;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 23px;

  .bw-pic {
    width: clamp(255px, 40vw, 535px);
    height: auto;
  }
}

.icons {
  width: 30px;
  display: none;
  flex-direction: column;
}

.name {
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
  color: #f8f5ec;
  gap: clamp(0.5rem, -0.725rem + 3.922vw, 2.25rem);

  .fullname {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anta";
    font-size: clamp(2.313rem, 0.868rem + 4.622vw, 4.375rem);
    height: 48px;
  }

  .profession {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.25rem, 0.55rem + 2.241vw, 2.25rem);
    text-transform: uppercase;
    font-family: "Josefin Sans";
  }
}

.btn {
    background-color: unset;
    border: unset;

    &:hover {
        cursor: pointer;
    }
}

.arrow-down {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: clamp(1.5rem, -1.826rem + 10.644vw, 6.25rem);
  position: relative;
  background-color: unset;
  border: unset;

  .arrow-down-img:hover {
    cursor: pointer;
  }
}

.d-none {
  display: none;
}

@media (min-width: 900px) {
  .content-wrapper {
    max-width: 1214px;
    display: flex;
    justify-content: space-around;
    margin-top: 63px;
    gap: 47px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
  }

  .name {
    margin: unset;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .arrow-down {
    margin-top: clamp(0rem, -14.205rem + 22.727vw, 6.25rem);
  }
}
