section {
    width: 85vw;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 23px;

    .elipse {
        width: 311.17px;
        height: 326px;
        top: 43px;
        left: 38.91px;
        box-sizing: border-box;
        padding: 0 12px;
        max-width: 100%;
    }

    .bw-pic {
        width: 255px;
        height: auto;
    }
}

.icons {
    width: 30px;
    display: none;
    flex-direction: column;
}

.name {
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    // gap: 8px;
    color: #F8F5EC;

    .fullname {
        font-family: 'Anta';
        font-size: 37px;
        height: 48px;
    }

    .profession {
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Josefin Sans';
    }
}

.arrow-down {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    position: relative;
    background-color: unset;
    border: unset;

    .arrow-down-img:hover {
        cursor: pointer;
    }

}

.d-none {
    display: none;
}

@media (min-width: 900px) {
    section {
        display: flex;
        justify-content: space-around;
        margin-top: 63px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icons {
        display: flex;
        flex-direction: row;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}