<section id="aboutMe" *ngIf="aboutMe$ | async as aboutMe">
    <div class="pic">
        <img class="bw-pic" src="assets/img/BW_Pic.png">
    </div>
    <div class="name">
        <span class="fullname">{{ aboutMe.name }}</span>
        <span class="profession">{{ aboutMe.profession }}</span>
    </div>
    <div class="arrow-down">
        <a href="#whyMe">
            <img class="arrow-down-img" (mouseover)="hover = true" (mouseout)="hover = false"
                [src]="hover ? 'assets/img/Arrow_down_hover.svg' : 'assets/img/Arrow_down.svg'">
        </a>
    </div>
</section>