
<section id="aboutMe">
    <div class="logo-box">
        <div class="logo">
            <img class="logo-pic" src="assets/img/Logo.svg">
            <span class="name-small">{{ aboutContent.nameSmall }}</span>
            <span class="profession-small">{{ aboutContent.professionSmall }}</span>
        </div>
        <div class="hamburger-menu" (click)="toggleMenu()" [class.open]="menuOpen">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="menu-container">
        <div class="menu-box" [class.d-none]="!menuOpen">
            <img class="menu-box-pic" src="assets/img/Ellipse_menu.svg">
            <ul class="menu-list">
                <li><a href="#whyMe" (click)="closeMenu()">{{ aboutContent.whyMe }}</a></li>
                <li><a href="#skills" (click)="closeMenu()">{{ aboutContent.skills}}</a></li>
                <li><a href="#projects" (click)="closeMenu()">{{ aboutContent.projects}}</a></li>
                <li><a href="#contactMe" (click)="closeMenu()">{{ aboutContent.contact}}</a></li>
                <div class="languages" [ngClass]="getLangClasses()">
                    <span class="german" (click)="setLang('de')">DE</span>
                    <span class="english" (click)="setLang('en')">EN</span>
                </div>
            </ul>
        </div>
    </div>
    <div class="pic">
        <img class="bw-pic" src="assets/img/BW_Pic.png">
    </div>
    <div class="name">
        <span class="fullname">{{ aboutContent.name }}</span>
        <span class="profession">{{ aboutContent.profession }}</span>
    </div>
    <div class="arrow-down">
        <a href="#whyMe">
            <img class="arrow-down-img" (mouseover)="hover = true" (mouseout)="hover = false"
                [src]="hover ? 'assets/img/Arrow_down_hover.svg' : 'assets/img/Arrow_down.svg'">
        </a>
    </div>
</section>
