section {
    width: 100vw;
}

.projects {
    height: clamp(2.438rem, 1.146rem + 5.167vw, 4.375rem);
    display: flex;
    padding-left: clamp(0rem, -4.167rem + 16.667vw, 6.25rem);
    font-size: clamp(1.125rem, 0.625rem + 2vw, 1.875rem);

    .card-background {
        background-color: #2D383F;
    }
}

.project-list {
    // width: 90px;
    // height: 39px;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    padding-left: clamp(0.75rem, 0rem + 3vw, 1.875rem);
    padding-right: clamp(0.75rem, 0rem + 3vw, 1.875rem);

    &:hover {
        cursor: pointer;
    }
}

.wide,
.tech-box {
    display: none;
}

.project-detail {
    background-color: #2D383F;
    padding-left: clamp(1.25rem, -3.75rem + 16vw, 6.25rem);
    padding-right: clamp(1.25rem, -3.75rem + 16vw, 6.25rem);

    padding-bottom: 38px;
    border-radius: 0 30px 30px;
}

h3 {
    font-size: 24px;
    color: #F28A62;
    margin: 0;
    padding: 29px 0 16px;
}

.technologies {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

.project-img {
    max-width: 453px;
    box-sizing: border-box;
    padding: 24px 30px;

    img {
        max-width: 100%;
        border-radius: 30px;
    }
}

.project-explanation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headline {
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.75rem);
    color: #F28A62;
}

.duration-wide {
    display: none;
}

.description {
    margin: 16px 0 24px 0;
    font-size: 16px;
}

.live-test {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-test-git {
    background-color: unset;
    border: unset;

    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 1131px) {
    .wide {
        display: block;
    }

    .mobile {
        display: none;
    }

    h3 {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        padding: 40px 100px 34px 0;
        gap: 56px;
    }

    .content-project {
        max-width: fit-content;
        margin: unset;
        flex: 1;
    }

    .headline {
        color: #F8F5EC;
    }

    .duration-wide {
        display: flex;
        padding-left: 24px;
        font-size: 18px;
        gap: 8px;
    }

    .project-detail {
        border-radius: unset;
    }

    .project-img {
        display: flex;
        flex-direction: column;
        width: 453px;
        padding: unset;

    }

    .technologies {
        display: none;
    }

    .tech-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tech-img {
        height: 36px;
        display: flex;
        gap: 32px;
        padding: 12px 0 16px;
    }

    .tech-img>img {
        border-radius: unset !important;
    }
}