section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

app-menu {
  display: none;
}

.references {
  max-width: -webkit-fill-available;
}

@media (min-width: 900px) {
  app-menu {
    display: block;
    position: sticky;
    top: 0;
    z-index: 20;
  }
}