<section id="#legalNotice" *ngIf="legalNotice$ | async as legalNotice">
    <a href="#contactMe">
        <img src="./../../assets/img/Arrow_back.svg">
    </a>
    <h2>{{ legalNotice.headline }}</h2>
    <div class="notice-box">
        <h3>{{ legalNotice.impressum }}</h3>
        <span>{{ legalNotice.name }}</span>
        <span>{{ legalNotice.address }}</span>
        <span>{{ legalNotice.city }}</span>
    </div>
    <div class="notice-box">
        <h3>{{ legalNotice.first }}</h3>
        <h4>{{ legalNotice.notice }}</h4>
        <span>{{ legalNotice.noticeText }}</span>
        <h4>{{ legalNotice.dataCollection }}</h4>
        <span class="box-headline">{{ legalNotice.responsible }}</span>
        <span>{{ legalNotice.responsibleText }}</span>
        <span class="box-headline">{{ legalNotice.capture }}</span>
        <span>{{ legalNotice.captureText }}</span>
        <span>{{ legalNotice.captureTextTwo }}</span>
        <span class="box-headline">{{ legalNotice.use }}</span>
        <span>{{ legalNotice.useText }}</span>
        <span class="box-headline">{{ legalNotice.rights }}</span>
        <span>{{ legalNotice.rightsText }}</span>
        <span>{{ legalNotice.rightsTextTwo }}</span>
        <h3>{{ legalNotice.second }}</h3>
        <span>{{ legalNotice.secondText }}</span>
        <span class="box-headline">{{ legalNotice.provider }}</span>
        <span>{{ legalNotice.providerText }}</span>
        <a href="https://all-inkl.com/datenschutzinformationen/"
            target="_blank">https://all-inkl.com/datenschutzinformationen/.</a>
        <span>{{ legalNotice.providerTextTwo }}</span>
        <h3>{{ legalNotice.third }}</h3>
        <h4>{{ legalNotice.dataProtection }}</h4>
        <span>{{ legalNotice.dataProtectionText }}</span>
        <span>{{ legalNotice.dataProtectionTextTwo }}</span>
        <h4>{{ legalNotice.responsible }}</h4>
        <span>{{ legalNotice.responsibilityText }}</span>
        <span>{{ legalNotice.name }}</span>
        <span>{{ legalNotice.address }}</span>
        <span>{{ legalNotice.city }}</span>
        <span>{{ legalNotice.phone }}</span>
        <span>{{ legalNotice.mail }}</span>
        <span>{{ legalNotice.responsibilityTextTwo }}</span>
        <h4>{{ legalNotice.memoryDuration }}</h4>
        <span>{{ legalNotice.memoryDurationText }}</span>
        <h4>{{ legalNotice.legalBasis }}</h4>
        <span>{{ legalNotice.legalBasisText }}</span>
        <h4>{{ legalNotice.recipient }}</h4>
        <span>{{ legalNotice.recipientText }}</span>
        <h4>{{ legalNotice.revocation }}</h4>
        <span>{{ legalNotice.revocationText }}</span>
        <h4>{{ legalNotice.contradiction }}</h4>
        <span>{{ legalNotice.contradictionText }}</span>
        <span>{{ legalNotice.contradictionTextTwo }}</span>
        <h4>{{ legalNotice.complaintRight }}</h4>
        <span>{{ legalNotice.complaintRightText }}</span>
        <h4>{{ legalNotice.dataTransfer }}</h4>
        <span>{{ legalNotice.dataTransferText }}</span>
        <h4>{{ legalNotice.information }}</h4>
        <span>{{ legalNotice.informationText }}</span>
        <h4>{{ legalNotice.restriction }}</h4>
        <span>{{ legalNotice.restrictionText }}</span>
        <ul>
            <li>{{ legalNotice.listOne }}</li>
            <li>{{ legalNotice.listTwo }}</li>
            <li>{{ legalNotice.listThree }}</li>
            <li>{{ legalNotice.listFour }}</li>
        </ul>
        <span>{{ legalNotice.restrictionTextTwo }}</span>
        <h3>{{ legalNotice.dataCollectionWebsite }}</h3>
        <h4>{{ legalNotice.inquiryText }}</h4>
        <span>{{ legalNotice.inquiryTextTwo }}</span>
        <span>{{ legalNotice.inquiryTextTwo }}</span>
        <span>{{ legalNotice.inquiryTextThree }}</span>
        <span>{{ legalNotice.inquiryTextFour }}</span>
        <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a>

    </div>
</section>