section {
    margin: 0 clamp(1.25rem, -4.734rem + 19.149vw, 12.5rem);
}

button {
    background: none;
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 900px) {
    button {
        display: none;
    }
}