<section class="margin-left-right-24">
    <h3>Join</h3>
    <div>
        <span>Technologie: JavaScript, CSS</span>
        <span>Dauer: 5 Wochen</span>
    </div>
    <div><img src=""></div>
    <div>
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <div>
                Über das Projekt
            </div>
        </div>
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <div>
                Wie ich meine Arbeit organisiert habe
            </div>
        </div>
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <div>
                Meine Gruppenarbeitserfahrung
            </div>
        </div>
    </div>
</section>