<section>
    <h3>Join</h3>
    <div class="technologies">
        <span>Technologie: HTML, CSS, JavaScript, Git, Firebase</span>
        <span>Dauer: 5 Wochen</span>
    </div>
    <div class="project-img">
        <img src="assets/img/Join.png">
    </div>
    <div class="margin-bottom-32">
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <span class="headline">
                Über das Projekt
            </span>
        </div>
        <div class="description">
            <span>
                Diese App ist ein Projektmanagement-Tool, um den Status und die Verantwortlichkeit von Aufgaben zu
                visualisieren. <br>
                Es ermöglicht eine schnelle Übersicht über Prioritäten, Fortschritt und Ressourcenbedarf, sodass Teams
                effizienter arbeiten und regelmäßig Ergebnisse liefern können.
            </span>
        </div>
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <span class="headline">
                Wie ich meine Arbeit organisiert habe
            </span>
        </div>
        <div class="description">
            <span>
                Durch klare Strukturen bleibt der Code sauber, lesbar und wartbar. <br>
                Das Projekt wurde in wiederverwendbare Komponenten zerlegt, die klar abgegrenzte Funktionen erfüllen und
                in unterschiedlichen Teilen des Projekts oder zukünftigen Projekten erneut genutzt werden können. <br>
                Konsistente Namenskonventionen, aussagekräftige Variablen und Funktionen spiegeln den Zweck und Kontext
                wieder.
            </span>
        </div>
        <div class="project-explanation">
            <img src="assets/img/Ellipse_small.svg">
            <span class="headline">
                Meine Gruppenarbeitserfahrung
            </span>
        </div>
        <div class="description">
            <span>
                In meinem zweiten Gruppenprojekt organisierten wir unsere Aufgaben über ein Kanbanboard, trafen uns
                regelmäßig zu Video-Calls und unterstützten uns gegenseitig bei Engpässen, um Transparenz,
                Zusammenarbeit und einen kontinuierlichen Arbeitsfluss sicherzustellen. <br>
                Es wurden gegenseitige Code-Reviews an kleinen Abschnitten durchgeführt, anschließend einzelne Module
                und schließlich das Gesamtsystem getestet, wobei auch außenstehende Personen Tests durchführten, um
                mögliche Fehlstellen zu finden.
            </span>
        </div>
    </div>
    <div class="live-test">
        <a href="https://nicole-gerlach.developerakademie.net/Join/" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/Btn_LifeTest.svg">
        </a>
        <a href="https://github.com/FouratOueslati/Join.git" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/Btn_GitHub.svg">
        </a>
    </div>
</section>