.headline-feedback {
    margin-bottom: 50px;
}

.feedback-container {
    height: 310px;
    display: flex;
    overflow-x: scroll;
    gap: 24px;
    padding-left: 24px;
}

// ::-webkit-scrollbar {display: none;}

.feedback-card {
    position: relative;
    width: 288px;
    min-width: 260px;
    box-sizing: border-box;
}

.background-elipse {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    z-index: 0;
    pointer-events: none;
}

.feedback-box {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    // margin: 50px 0 0 50px;
    width: -webkit-fill-available;
    margin: 42px 40px 0 56px;

    .name {
        margin-bottom: 8px;
    }

    .project {
        margin-bottom: 16px;
    }

    .feedback {
        // width: 219px;
        // height: 95px;
        line-height: 110%;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.btn-feedback {
    width: fit-content;
    background-color: unset;
    border: unset;
    color: #F28A62;
    font-family: 'Josefin Sans';
    font-size: 14px;
    margin: 14px 0;
    display: flex;
    padding: unset;

    &:hover {
        cursor: pointer;
        color: #F8F5EC;
    }
}

.feedback-big {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 0 14px;
    background-color: #042639;
    box-sizing: border-box;
    gap: 14px;
}

.btn-close {
    width: fit-content;
    background-color: unset;
    border: unset;
    color: #F28A62;
    font-family: 'Josefin Sans';
    font-size: 14px;
    padding: unset;

    &:hover {
        cursor: pointer;
        color: #F8F5EC;
    }

}

.d-none {
    display: none;
}
