
<!-- <section *ngIf="references$ | async as references">
    <div class="headline-feedback">
        <h2>{{ references.headline }}</h2>
        <span class="">{{ references.notions }}</span>
    </div>
    <span class="headline-wide d-none">{{ references.headlineWide }}</span>
    <div class="feedback-container" *ngIf="references.notions?.length">
        <div class="feedback-card" *ngFor="let ref of references.references">
            <img class="background-elipse" src="assets/img/Ellipse_Feedback.svg">
            <img class="background-elipse-wide d-none" src="assets/img/Ellipse_Feedback_Wide.svg">
            <div class="feedback-box">
                <span class="name fs24-26">{{ ref.name }}</span>
                <span class="project fs16-18">{{ ref.project }} <span [ngStyle]="{color: '#F28A62'}">{{ ref.projectName
                        }}</span></span>
                <span class="feedback fs16-18">{{ ref.feedback }}</span>
                <button (click)="toggleFeedback(ref)" class="btn-feedback">{{ref.button}}</button>
                <div class="feedback-big fs16-18" *ngIf="ref.open">
                    <span>{{ ref.feedback }}</span>
                    <button (click)="closeFeedback(ref)" class="btn-close">{{ ref.buttonBack }}</button>
                </div>
            </div>
        </div>
    </div>
</section> -->


@if (references$ | async; as references) {
<section>
  <div class="headline-feedback">
    <h2>{{ references.headline }}</h2>
    <span class="">{{ references.notions }}</span>
  </div>
  <span class="headline-wide d-none">{{ references.headlineWide }}</span>
  @if (references.notions.length) {
  <div class="feedback-container">
    @if (currentIndex === null) { @for (ref of references.references; track ref;
    let i = $index) {
    <div class="feedback-card">
      <img class="background-elipse" src="assets/img/Ellipse_Feedback.svg" />
      <img
        class="background-elipse-wide d-none"
        src="assets/img/Ellipse_Feedback_Wide.svg"
      />
      <div class="feedback-box">
        <span class="name fs24-26">{{ ref.name }}</span>
        <span class="project fs16-18"
          >{{ ref.project }}
          <span [ngStyle]="{ color: '#F28A62' }">{{
            ref.projectName
          }}</span></span
        >
        <span class="feedback fs16-18">{{ ref.feedback }}</span>
        <button (click)="toggleFeedback(i)" class="btn-feedback">
          {{ ref.button }}
        </button>
      </div>
    </div>
    } } @else {
    <div class="feedback-big fs16-18" >
      <span class="feedback-big-content">{{ references.references[currentIndex].feedback }}</span>
      <button (click)="closeFeedback()" class="btn-close">
        {{ references.references[currentIndex].buttonBack }}
      </button>
    </div>
    }
  </div>
  }
</section>
}