<section>
    <div class="headline-feedback margin-left-right-24">
        <h2>Brauchen Sie einen Teamplayer?</h2>
        <span class="">Das sagen meine Kollegen über mich</span>
    </div>
    <div class="feedback-container">
        <div class="feedback-card">
            <img class="background-elipse" src="assets/img/Ellipse_Feedback.svg">
            <div class="feedback-box">
                <span class="name">Davor Jezernik</span>
                <span class="project">Projekt <span [ngStyle]="{color: '#F28A62'}">Join</span></span>
                <span class="feedback">Mit Nicole zusammenzuarbeiten war eine große Bereicherung. Sie ist äußerst
                    teamfähig
                    und
                    hat immer eine
                    sehr
                    angenehme, konstruktive Zusammenarbeit ermöglicht. Besonders beeindruckend war ihr Engagement: Trotz
                    ihrer
                    Rolle
                    als Mama hat sie viel Zeit und Energie investiert, um unsere gemeinsamen Projekte erfolgreich
                    voranzubringen.
                    Nicole arbeitet zuverlässig, strukturiert und mit einem hohen Maß an Verantwortungsbewusstsein.
                    Ich kann sie als Kollegin uneingeschränkt empfehlen.
                </span>
            </div>
        </div>
        <div class="feedback-card">
            <img class="background-elipse" src="assets/img/Ellipse_Feedback.svg">
            <div class="feedback-box">
                <span class="name">Fourat Oueslati</span>
                <span class="project">Projekt <span [ngStyle]="{color: '#F28A62'}">Join</span></span>
                <span class="feedback">Nicole ist eine echte Kämpferin. Sie verliert nie den Fokus und gibt immer ihr
                    Bestes.
                    Probleme sieht sie nicht als Hindernis, sondern als Challenge. Oft hat sie uns mit neuen Ideen
                    überrascht
                    und sie denkt ständig outside the box. Sie weiß ganz genau wie man im Team arbeitet und bringt immer
                    positive Energie mit.
                </span>
            </div>
        </div>
    </div>
</section>