
<section *ngIf="references$ | async as references">
    <div class="headline-feedback">
        <h2>{{ references.headline }}</h2>
        <span class="">{{ references.notions }}</span>
    </div>
    <div class="feedback-container" *ngIf="references.notions?.length">
        <div class="feedback-card" *ngFor="let ref of references.references">
            <img class="background-elipse" src="assets/img/Ellipse_Feedback.svg">
            <div class="feedback-box">
                <span class="name">{{ ref.name }}</span>
                <span class="project">{{ ref.project }} <span [ngStyle]="{color: '#F28A62'}">{{ ref.projectName }}</span></span>
                <span class="feedback">{{ ref.feedback }}</span>
                <button (click)="toggleFeedback(ref)" class="btn-feedback">{{ref.button}}</button>
                <div class="feedback-big" [class.d-none]="!ref.open">
                    <span>{{ ref.feedback }}</span>
                    <button (click)="closeFeedback(ref)" class="btn-close">{{ ref.buttonBack }}</button>
                </div>
            </div>
        </div>
    </div>
</section>
