<section id="skills" class="margin-left-right-24" *ngIf="mySkills$ | async as mySkills">
    <h2>{{ mySkills.headline }}</h2>
    <div class="icons">
        <div class="icon-box">
            <img src="assets/img/Angular.svg">
            <span class="skills d-none">{{ mySkills.angular }}</span>
        </div>
        <div class="icon-box">
            <img src="assets/img/TypeScript.svg">
            <span class="skills d-none">{{ mySkills.typeScript }}</span>
        </div>
        <div class="icon-box">
            <img src="assets/img/JavaScript.svg">
            <span class="skills d-none">{{ mySkills.javaScript }}</span>
        </div>
        <div class="icon-box">
            <img src="assets/img/HTML.svg">
            <span class="skills d-none">{{ mySkills.html }}</span>
        </div>
    </div>
    <div class="icons margin-top-bottom-24">
        <div class="icon-box">
            <img src="assets/img/CSS.svg">
            <span class="skills d-none">{{ mySkills.css }}</span>
        </div>
        <div class="icon-box">
            <img src="assets/img/RestApi.svg">
            <span class="skills d-none">{{ mySkills.restApi }}</span>
        </div>
        <div class="icon-box">
            <img src="assets/img/Firebase.svg">
            <span class="skills d-none">{{ mySkills.firebase }}</span>
        </div>
        <div class="icon-box">
            <img src="assets/img/Git.svg">
            <span class="skills d-none">{{ mySkills.git }}</span>
        </div>
    </div>
    <div class="icons no-center">
        <div class="icon-box">
            <img src="assets/img/MaterialDesign.svg">
            <span class="skills d-none">{{ mySkills.materialDesign }}</span>
        </div>
        <div class="icon-box">
            <img src="assets/img/Scrum.svg">
            <span class="skills d-none">{{ mySkills.scrum }}</span>
        </div>
    </div>
    <button class="lets-talk-btn">
        <a href="#contactMe"><img src="assets/img/Btn_talk.svg"></a>
    </button>
</section>