<h2>My Skills</h2>
<div class="icons">
    <img src="assets/img/Angular.svg">
    <img src="assets/img/TypeScript.svg">
    <img src="assets/img/JavaScript.svg">
    <img src="assets/img/HTML.svg">
</div>
<div class="icons margin-top-bottom">
    <img src="assets/img/CSS.svg">
    <img src="assets/img/RestApi.svg">
    <img src="assets/img/Firebase.svg">
    <img src="assets/img/Git.svg">
</div>
<div class="icons">
    <img src="assets/img/MaterialDesign.svg">
    <img src="assets/img/Scrum.svg">
</div>
<div>
    <button>
        <img src="assets/img/Btn_talk.svg">
    </button>
</div>