section {
  padding: 1em 1em 3em;
}

.icons-wrapper {
  max-width: 860px;
  margin: 0 auto;
  .icons {
    padding: 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 12px;
    place-items: center;
    align-items: baseline;
    .icon-box {
      margin: 0;
      width: 100px;
      font-size: 18px;
      color: #f28a62;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
      figcaption {
        display: none;
      }
    }
  }
}

.lets-talk-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: unset;
  border: unset;
}

.d-none {
  display: none;
}

@media (min-width: 900px) {
  .skills {
    display: flex;
    justify-content: center;
  }

  .icons-wrapper {
    .icons {
      gap: 24px;

      .icon-box {
        figcaption {
          margin: 0.5em 0 0;
          display: block;
        }
      }
    }
  }

  .no-center {
    justify-content: unset;
  }

  .lets-talk-btn {
    display: none;
  }
}