.icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #F28A62;
    text-align: center;
    gap: 8px;
}

.icon-box img {
    max-height: 60px;
    min-height: 45px;
}

.lets-talk-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: unset;
    border: unset;
}

.d-none {
    display: none;
}

@media (min-width: 900px) {
    .skills {
        display: flex;
        justify-content: center;
    }

    .no-center {
        justify-content: unset;
    }

    .lets-talk-btn {
        display: none;
    }
}