* {
    background-color: #042639;
    border: none;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.lets-talk-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}