.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.lets-talk-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: unset;
    border: unset;
}