@use "./scss-styles/fonts.scss" as *;

* {
  scroll-padding-top: 104px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #042639;
  color: #f8f5ec;
  margin: 0;
  font-family: "Josefin Sans";
  font-weight: 400;
  line-height: 120%;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header – main – footer */
  min-height: 100vh;
}

h2 {
  font-size: clamp(2rem, 1.069rem + 2.979vw, 3.75rem);
  color: #f28a62;
  text-align: center;
  line-height: 1.2;
}

.margin-left-right-24 {
  margin: 0 24px;
}

.margin-top-bottom-24 {
  margin: 24px 0;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  padding-right: 4px;
}

::-webkit-scrollbar-thumb {
  background: #f8f5ec;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: unset;
}

.cursor-pointer {
  cursor: pointer;
}