* {
    background-color: #F28A62;
}

.footer-box {
    padding: 30px 30px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-pic {
        height: 38px;
    }
}

.profession-small {
    color: #042639;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    margin: 32px 63px;
}

.impressum {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

a {
    color: #F8F5EC;
    text-decoration: none;
}

.footer-icons-wide {
    display: none;
}

@media(min-width: 900px) {
    .footer-icons {
        display: none;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-icons-wide {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        order: 3;
        gap: 16px;
    }

    .footer-icons-wide img {
        height: 30px;
    }

    .impressum {
        order: 1;
        flex-direction: column;
        justify-content: flex-end;
    }

    .logo {
        order: 2;

    }
}