* {
    background-color: #F28A62;
}

.footer-box {
    padding: 30px 30px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-pic {
        height: 38px;
    }
}

.profession-small {
    color: #042639;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    margin: 32px 63px;
}

.impressum {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

a {
    color: #F8F5EC;
    text-decoration: none;
}