<footer id="footer" class="footer-box">
    <div class="footer">
        <div class="logo">
            <img class="logo-pic" src="assets/img/Logo_Footer.svg">
            <span class="name-small">N.Gerlach</span>
            <span class="profession-small">developer</span>
        </div>
        
        <div class="footer-icons">
            <button type="button" (click)="openExternal('https://github.com/dashboard')" class="btn">
                <img (mouseover)="hoverGithub = true" (mouseout)="hoverGithub = false"
                    [src]="hoverGithub ? 'assets/img/Github_button_footer.svg' : 'assets/img/Github_button_mobile.svg'">
            </button>
            <a href="#contact">
                <img (mouseover)="hoverEmail = true" (mouseout)="hoverEmail = false"
                    [src]="hoverEmail ? 'assets/img/Email_button_footer.svg' : 'assets/img/Email_button_mobile.svg'">
            </a>
            <button type="button" (click)="openExternal('https://www.linkedin.com/in/nicole-gerlach-6b58013b0/')"
                class="btn">
                <img (mouseover)="hoverLinkedin = true" (mouseout)="hoverLinkedin = false"
                    [src]="hoverLinkedin ? 'assets/img/Linkedin_button_footer.svg' : 'assets/img/Linkedin_button_mobile.svg'">
            </button>
        </div>
        <div class="footer-icons-wide">
            <button type="button" (click)="openExternal('https://github.com/dashboard')" class="btn">
                <img (mouseover)="hoverGithub = true" (mouseout)="hoverGithub = false"
                    [src]="hoverGithub ? 'assets/img/Github_button_mobile.svg' : 'assets/img/Github_button_footer.svg'">
            </button>
            <a href="#contact">
                <img (mouseover)="hoverEmail = true" (mouseout)="hoverEmail = false"
                    [src]="hoverEmail ? 'assets/img/Email_button_mobile.svg' : 'assets/img/Email_button_footer.svg'">
            </a>
            <button type="button" (click)="openExternal('https://www.linkedin.com/in/nicole-gerlach-6b58013b0/')" class="btn">
                <img (mouseover)="hoverLinkedin = true" (mouseout)="hoverLinkedin = false"
                    [src]="hoverLinkedin ? 'assets/img/Linkedin_button_mobile.svg' : 'assets/img/Linkedin_button_footer.svg'">
            </button>
        </div>

        <div class="impressum">
            <a [routerLink]="['/privacyPolicy']" [queryParams]="{returnTo: 'footer'}">Legal notice</a>
            <div>&copy; Nicole Gerlach 2025</div>
        </div>
    </div>
</footer>